<div class="row">
  <div class="col-lg-12">
    <h4><%= link_to pizza.name, pizza %></h4>
    <img class="img-fluid" src="<%=pizza.image.path.url(:thumbnail) %>" alt="pizza">
  </div>
  <div class="col-md-6">
    <%= form_for pizza_order, remote: true do |f| %>
    <h4 class="text-right">Price: <span style="color: green"><%= number_to_currency pizza.price %></span></h4>
      <div class="input-group">
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <div class="input-group-btn">
          <%= f.hidden_field :pizza_id, value: pizza.id %>
          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>