<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= pizza.name %></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for pizza_order, remote: true do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency pizza_order.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: pizza_order.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: pizza.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to "Delete", pizza_order, { data: { confirm: "Are you sure you wish to delete the product '#{pizza_order.pizza.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency pizza_order.total_price %></span></h4>
      <% end %>
    </div>

  </div>
</div>