<div class="row">
    <h4><%= pizza.name %></h4>
</div>
  <div class="row">
    <img class="img-fluid" src="<%=pizza.image.path.url(:thumbnail) %>" alt="pizza">
  </div>
  <div class="row">

    <%= form_for pizza_order, remote: true do |f| %>
      <div class="row text-center">
        <div class="col-xs-5">
          <h5 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency pizza_order.unit_price %></span></h5>
        </div> 
        <div class="col-xs-2" style="visibility: hidden"> FF </div>
        <div class="col-xs-5">
          <h5 class="text-right">Total Price: <span style="color: green"><%= number_to_currency pizza_order.total_price %></span></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2" style="width: 60px">
          <%= f.number_field :quantity, value: pizza_order.quantity.to_i, class: "form-control", min: 1 %>
          <%= f.hidden_field :product_id, value: pizza.id %>
        </div>
        <div class="col-xs-10 text-right">
          <div class="btn-group">
            <%= f.submit "Update Quantity", class: "btn btn-primary" %>
            <%= link_to "Delete", pizza_order, { data: { confirm: "Are you sure you wish to delete the product '#{pizza_order.pizza.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
          </div>
        </div>
      </div>
      
    <% end %>
  </div>


