<!DOCTYPE html>
<html>
  <head>
    <title>PizzaTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Sign up', new_user_session_path %>
    <%= link_to 'Sign in', user_session_path %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <h2>Pizza Time</h2>
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Pizza', pizzas_path %></li>
        <li><%= link_to 'Deals', deals_path %></li>
			</ul>
		</div>
    <%= render 'layouts/alerts'%>
    <%= yield %>
  </body>
</html>
