<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pizza Time&trade;</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-agency/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-agency/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-agency/css/agency.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>
  <style>
    nav {
      background-color: #000000 !important;
    }

    .pagination {
      background-color: #FFFFFF !important;
      margin: 0 auto;
      display: inline-block;
    }

    .paginate-container {
      margin-top: 15px;
      text-align: center;
    }

    input.body {
      width: 25%;
    }
  </style>
</head>
<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="<%=root_path%>">Pizza Time&trade;</a>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="navbar-collapse collapse" id="navbarResponsive" style>
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= pizzas_path %>">Pizzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= new_user_session_path %>">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          
        </ul>
        <div class="col-xs-6 text-right">
          <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
        </div>
        <%= link_to 'Sign up', new_user_session_path %>
        <%= link_to 'Sign in', user_session_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  
  </nav>
  <br />
  <br />
  <br />
  <br />
  <br />
    <div class="container">
    <div class="form-control">
    <%= form_tag(pizzas_path, method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
    </div>
    </div>

  <%= yield %>


    <!-- Bootstrap core JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-agency/vendor/jquery/jquery.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-agency/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-agency/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-agency/js/jqBootstrapValidation.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-agency/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://blackrockdigital.github.io/startbootstrap-agency/js/agency.min.js"></script>


</body>



</html>
